@import 'styles/variables.scss';

$main-radius: 8px;

.compileSubmissionContainer {
  .collapsedContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    z-index: 2;
    
    padding: 18px 36px;
    border-radius: $main-radius;
    border: 2px solid $web-gray-two;
    background: $snow-white;
    
    &.open {
      border-radius: $main-radius $main-radius 0px 0px;
    }
    
    .grabIcon {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translate(0%, -50%);
      cursor: pointer;
    }
    
    p {
      color: $granite-gray;
      margin: 0px;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .mainContentContainer {
    padding: 36px 48px;
    border-radius: 0px 0px $main-radius $main-radius;
    border: 2px solid $web-gray-two;
    border-top: none;

    .titleContainer {
      margin-bottom: 24px;

      h4 {
        margin: 0px 0px 3px;
      }
      
      h5 {
        margin: 0px;
      }
    }

    .contentContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: 24px;
      
      .content {
        margin: 0px auto auto 0px;
        padding-right: 48px;
      }
      
      img {
        margin: auto 0px;
        max-width: 27%;
      }
    }

    .footerContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        color: $midnight-black;
        margin: auto auto auto 0px;
      }

      .buttonContainer {
        display: flex;
        flex-direction: row;

        button {
          display: flex;
          flex-direction: row;
          margin-left: 18px;
          padding: 9px 18px;
          border-radius: 8px;
          
          border: none;
          background: none;
          cursor: pointer;

          img {
            margin: auto 9px auto 0px;
          }

          p {
            color: $forest-green;
            font-size: 16px;
            margin: auto 0px;
          }
        }

        .edit {
          background: $spring-green;
        }

        .reject {
          border: 1px solid $forest-green;
        }
      }
    }
  }
}