@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;
@use "styles/variables.scss" as variables;

$main-radius: 8px;

.compileSubmissionContainer {
  .collapsedContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    z-index: 2;

    padding: 18px 36px;
    border-radius: $main-radius;
    border: 2px solid colors.$web-gray-two;
    background: $snow-white;

    &.open {
      border-radius: $main-radius $main-radius 0px 0px;

      button > svg {
        transform: rotate(180deg);
      }
    }

    .grabIcon {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translate(0%, -50%);
      cursor: pointer;
    }

    p {
      margin: auto 0px;

      @include textStyling.paragraphText();
      color: colors.$granite-gray;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;

      svg {
        fill: colors.$granite-gray;
        transform: rotate(0deg);
        transition: 0.3s ease-in-out transform;
      }
    }
  }

  .mainContentContainer {
    padding: 36px 48px;
    border-radius: 0px 0px $main-radius $main-radius;
    border: 2px solid colors.$web-gray-two;
    border-top: none;

    .titleContainer {
      margin-bottom: 24px;

      h4 {
        margin: 0px 0px 3px;
        @include textStyling.headerFour();
      }

      p {
        margin: 0px;
        @include textStyling.paragraphText();
        color: colors.$granite-gray;
      }
    }

    .contentContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: 24px;

      .content {
        margin: 0px auto auto 0px;
        padding-right: 48px;

        @include textStyling.postContent();
      }

      img {
        margin: auto 0px;
        max-width: 27%;
      }
    }

    .footerContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        margin: auto auto auto 0px;
        @include textStyling.siteLink();
      }

      .buttonContainer {
        display: flex;
        flex-direction: row;

        button {
          margin-left: 18px;
          @include variables.siteButton();

          border: none;
          background: none;
          cursor: pointer;

          p {
            color: colors.$granite-gray;
          }
        }

        .edit {
          background: colors.$spring-green;
        }

        .reject {
          border: 1px solid colors.$granite-gray;
        }
      }
    }
  }
}
