@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;

.errorModalContainer {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;

  .errorContent {
    margin: 0px;

    @include textStyling.paragraphText();
    text-align: center;
    color: colors.$granite-gray;
  }
}
