@import "styles/variables.scss";

.errorModalContainer {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;

  .errorContent {
    margin: 0px;

    @include paragraphText();
    text-align: center;
    color: $granite-gray;
  }
}
