.postSectionContainer {
  max-width: 900px;

  // .section-bar {
  //   margin-bottom: 63px;
  // }

  .postSectionTitleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    text-transform: uppercase;
    font-family: National2-Reg, sans-serif;
    color: #00693E;
    
    * {
      margin: auto 12px 0 0;
      vertical-align: bottom;
    }

    h3 {
      font-size: 33px;
    }

    p {
      font-size: 18px;
    }
  }
}