@import "styles/variables.scss";

.submissionContainer {
  $left-border-width: 18px;
  $container-padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  padding: $container-padding $container-padding $container-padding
    calc((#{$left-border-width} / 3) + #{$container-padding});

  box-shadow: 0px 8.36129px 33.4452px $web-gray-two;
  border-radius: $left-border-width;
  border-left: $left-border-width solid;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;

    .titleContainer {
      display: flex;
      flex-direction: row;
      margin-right: auto;

      h3 {
        margin: 0px 12px 0px 0px;
        @include headerThree();
      }

      .iconContainer {
        display: flex;
        flex-direction: row;

        button {
          margin-right: 12px;
          padding: 0px;

          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }

    p {
      margin: auto 0px 0px;

      @include paragraphText();
      font-weight: 400;
      color: $granite-gray;
    }
  }

  .content {
    margin-bottom: 18px;
    @include postContent();
  }

  .bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      margin: auto auto auto 0px;
      @include siteLink();
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      font-size: 14px;

      button {
        margin: auto 0px auto 12px;
        @include siteButton();

        border: none;
        background-color: $web-gray-two;

        p {
          color: $granite-gray;
        }
      }
    }
  }
}
