@import "styles/variables.scss";

.submissionContainer {
  $left-border-width: 18px;
  $container-padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  padding: $container-padding $container-padding $container-padding
    calc((#{$left-border-width} / 3) + #{$container-padding});

  box-shadow: 0px 8.36129px 33.4452px $web-gray-two;
  border-radius: $left-border-width;
  border-left: $left-border-width solid;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;

    h3 {
      margin: 0px auto 0px 0px;

      font-family: national, sans-serif;
      font-size: 21px;
      font-weight: 500;
      color: $forest-green;
    }

    p {
      margin: auto 0px 0px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $granite-gray;
    }
  }

  .content {
    margin-bottom: 18px;

    p,
    a {
      // TODO: Standardize this styling
      margin: 0px 0px 9px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 155%;
    }
  }

  .bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      margin: auto auto auto 0px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $river-blue;
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      font-size: 14px;

      button {
        display: flex;
        flex-direction: row;
        margin-left: 12px;
        padding: 9px 21px;

        border: none;
        border-radius: 8px;
        background-color: $web-gray-two;

        font-family: national, sans-serif;
        font-size: 16px;
        font-weight: 400;

        cursor: pointer;

        img {
          margin: auto 12px auto 0px;
        }

        p {
          margin: auto 0px;
          font-size: 16px;
          color: $granite-gray;
        }
      }
    }
  }
}
