@use "styles/variables.scss" as variables;
@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;

.formSectionContainer {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 2px solid colors.$web-gray-two;

  h2 {
    @include textStyling.headerTwo();
    color: colors.$granite-gray;
    text-transform: uppercase;
  }
}
