@import 'styles/variables.scss';

.formSectionContainer {
    padding-top: 45px;
    margin-top: 45px;
    border-top: 2px solid $web-gray-two;
    
    h2 {
      color: $granite-gray;
      text-transform: uppercase;
    }
  }
  