@import "styles/variables.scss";

.formSectionContainer {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 2px solid $web-gray-two;

  h2 {
    @include headerTwo();
    color: $granite-gray;
    text-transform: uppercase;
  }
}
