@import 'styles/variables.scss';

.footerContainer {
  margin-top: auto;
  background-color: $dartmouth-green;

  .footerContentContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 36px 72px;
    max-width: 900px;

    font-family: National2-Reg, sans-serif;
    color: $snow-white;

    div {
      p, a {
        text-align: left;
        margin: 6px 0px;
      }

      a {
        color: $snow-white;
      }
    }
  }
}
