@import "styles/variables.scss";

.footerContainer {
  margin-top: auto;
  background-color: $dartmouth-green;

  .footerContentContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 36px 72px;
    max-width: $page-width;

    .footerContent {
      display: flex;
      flex-direction: column;

      p,
      a {
        margin: 0px 0px 9px;

        font-family: national, sans-serif;
        font-size: 16px;
        font-weight: 400;

        color: $snow-white;
        text-align: left;
      }

      img {
        height: 50px;
      }
    }
  }
}
