@use "styles/variables.scss" as variables;
@use "styles/colors.scss" as colors;

.footerContainer {
  margin-top: auto;
  width: 100%;
  background-color: colors.$dartmouth-green;

  .footerContentContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    padding: 36px 72px;
    max-width: variables.$page-width;

    .footerContent {
      display: flex;
      flex-direction: column;
      margin: 0px auto 18px;

      p,
      a {
        margin: 0px 0px 9px;

        font-family: national, sans-serif;
        font-size: 16px;
        font-weight: 400;

        color: colors.$snow-white;
        text-align: left;
      }

      img {
        height: 50px;
      }
    }

    @media only screen and (max-width: variables.$tablet-collapse) {
      justify-content: center;
      flex-wrap: wrap;

      .footerContent {
        p,
        a {
          text-align: center;
        }
      }
    }
  }
}
