@import "styles/variables.scss";

.homeSubmissionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 36px 0px 0px;
  padding-bottom: 36px;
  border-bottom: 1px solid $web-gray-two;

  &:last-child {
    border-bottom: none;
  }

  .postContentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 36px;

    h3 {
      margin: 0px 0px 9px;
      @include headerThree();
    }

    .subheader {
      margin: 0px 0px 24px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: $granite-gray;
    }

    .content {
      margin-bottom: 12px;
      @include postContent();
    }

    .linkContainer {
      display: flex;
      flex-direction: row;

      img {
        margin: auto 15px auto 0px;
        height: 18px;
      }

      a {
        margin: auto 0px;
        @include siteLink();
      }
    }
  }

  .featuredImage {
    margin: auto 0px;
    object-fit: contain;
    max-width: 27%;
    height: 100%;
  }
}
