@use "styles/colors.scss" as colors;
@use "styles/variables.scss" as variables;

.homeSubmissionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;

  margin: 36px 0px 0px;
  padding-bottom: 36px;
  border-bottom: 1px solid colors.$web-gray-two;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .postContentContainer {
    display: flex;
    flex-direction: column;
    padding-right: 36px;
    width: 100%;

    h3 {
      margin: 0px 0px 9px;
      @include headerThree();
    }

    .subheader {
      margin: 0px 0px 24px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: colors.$granite-gray;
    }

    .content {
      margin-bottom: 12px;
      @include postContent();
    }

    .linkContainer {
      display: flex;
      flex-direction: row;

      img {
        margin: auto 15px auto 0px;
        height: 18px;

        @media only screen and (max-width: variables.$tablet-collapse) {
          display: none;
        }
      }

      a {
        margin: auto 0px;
        width: 100%;

        @include siteLink();
        line-break: anywhere;
      }
    }
  }

  .featuredImage {
    margin: auto 0px;
    object-fit: contain;
    max-width: 27%;
    height: 100%;
  }

  @media only screen and (max-width: variables.$tablet-collapse) {
    flex-wrap: wrap-reverse;

    .featuredImage {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }
}
