@use 'styles/colors.scss' as colors;

.genericSkeletonWrapperContainer > .loading {
    @include shimmerMixin();
    
    width: 70%;
    height: 36px;
    margin-bottom: 24px;
    
    background-color: colors.$web-gray-two;
    border-radius: 8px;
}