@import "styles/variables.scss";

.formContainer {
  display: flex;
  flex-direction: column;

  @include mainPageLayout();

  .titleContainer {
    display: flex;
    flex-direction: column;

    button {
      display: flex;
      flex-direction: row;

      background: none;
      border: none;
      cursor: pointer;

      img {
        margin: auto 12px auto 0px;
      }

      p {
        margin: auto 0px;
        @include paragraphText();
        color: $forest-green;
      }
    }

    h1 {
      margin: 18px 0px;
      @include headerOne();
    }

    p {
      margin: 0px 0px 12px;
      color: $granite-gray;

      a {
        @include siteLink();
      }
    }
  }

  .formGroupListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;

    .formGroupList {
      margin-bottom: 36px;

      h3,
      h4,
      h5,
      h6 {
        font-family: national, sans-serif;
        color: $granite-gray;
      }
    }
  }

  .formTypeSelector {
    margin-right: 24px;
  }

  .formImageStatus {
    margin-top: 15px;
    color: $granite-gray;

    img {
      max-width: 60%;
      max-height: 600px;
    }
  }

  .actionButtonsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 60px;

    button {
      margin-right: 18px;
      @include siteButton();

      background: none;
      border: none;
      cursor: pointer;
    }

    .formSubmitButton {
      background-color: $dartmouth-green;
      color: $snow-white;
    }

    .formSaveButton {
      background-color: $spring-green;
      color: $dartmouth-green;
    }

    .formCancelButton {
      background-color: $snow-white;
      color: $granite-gray;
      border: 1.09969px solid $granite-gray;
    }
  }
}
