.nav {
    background-color: #00693E;
}

.nav-link {
    color: white !important;
    font-size: 18pt;
}

.navbar-brand {
    color: white !important;
    font-size: 30px !important;
    font-family: Ruzicka, serif;
}

.navbar-brand img {
    padding: 10px;
    padding-bottom: 20px;
    margin-right: 10px;
}