

.compile-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:auto;
}

.compile-item{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.compile-item-content{
    max-width: 80%;
}

.compile-control-button-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;

    button, a {
        margin-left: 12px;
        border: none;
        border-radius: 8px;
        padding: 6px 15px;
        background-color: #E2E2E2;
        letter-spacing: 0.2px;
        color: #424141;

        &:hover {
            text-decoration: underline;
        }
    }
}
