.form-container{
  display: flex;
  flex-direction: column;
  padding: 20px;

  h1 {
    font-family: National2-Bold, sans-serif;
  }

  form {
    // margin: auto;
    // margin-top: 5%;
    // display: flex;
    // flex-direction: column;
    // width: 70%;
    // padding: 20px 40px 40px 40px;
    // border-radius: 6px;
    // box-shadow: 0px 8px 36px #222;
    // background-color: #fefefe;
  
    .preview-header{
      margin-top:20px;
    }
  
    .preview{
      font-family: Ruzicka, serif;
      padding:20px;
      margin-top:20px;
      border-style: solid;
      border-width: 6px;
      font-size: 12pt;
      border-color: rgb(0, 105, 62);
      background-color: #fffbec;
    }
  }
}



.form-error-container {
  font-size: 12px;
  color: red;
}
