@import 'styles/variables.scss';

.homeTabContainer {
  button {
    border: none;
    background: none;

    padding: 9px 18px;

    font-size: 24px;
    text-align: center;
    color: $dartmouth-green;
    cursor: pointer;
    
    &.active {
      border-bottom: 6px solid $dartmouth-green;
    }
  }
}