.submissions {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:0px;

  .topBar {
    margin: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
  }

  .submissionsContainer {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:5px;
  }
}
