@import 'styles/variables.scss';

.reviewContainer {
  display: flex;
  flex-direction: column;
  
  @include mainPageLayout();

  .titleContainer {
    margin-bottom: 36px;

    h1 {
      margin: 0px;
    }
  }

  .filterContainer {
    display: flex;
    flex-direction: column;

    .searchContainer {
      margin: 0px auto 42px 0px;
      width: 60%;
    }

    .subtitleContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: 39px;

      h2 {
        margin: auto auto auto 0px;
      }
      
      .filterBarContainer {
        margin: auto 0px;
      }
    }
  }

  .submissionsContainter {
    .submissionContainer {
      margin-bottom: 24px;
    }
  }
}
