@use "styles/colors.scss" as colors;

.reviewContainer {
  display: flex;
  flex-direction: column;

  @include mainPageLayout();

  .titleContainer {
    margin-bottom: 36px;

    h1 {
      margin: 0px;
      @include headerOne();
    }
  }

  .filterContainer {
    display: flex;
    flex-direction: column;

    .searchContainer {
      margin: 0px auto 42px 0px;
      width: 60%;
    }

    .subtitleContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: 39px;

      h2 {
        margin: auto auto auto 0px;
        @include headerTwo();
      }

      .filterBarContainer {
        margin: auto 0px;
      }
    }
  }

  .submissionsContainter {
    .submissionContainer {
      margin-bottom: 24px;
    }

    .noContent {
      @include paragraphText();
      color: colors.$granite-gray;
    }
  }
}
