@import "styles/variables.scss";

.reviewSubmissionContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 36px;

  border-radius: 12px;
  border-left-width: 12px;
  border-left-style: solid;

  background: $snow-white;
  box-shadow: 0px 9.61789px 38.4715px $web-gray-two;

  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;

    h3 {
      margin: 0px;
      @include headerThree();
    }

    p {
      margin: auto 0px 0px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: $granite-gray;

      span {
        color: $tuck-orange;
      }
    }
  }

  .subtitle {
    margin: 0px 0px 18px;

    font-family: national, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $forest-green;
  }

  .sendingInfo {
    margin: 0px 0px 18px;
    width: 50%;
  }

  .contentContainer {
    margin: 0px 0px 36px;

    .content {
      margin-bottom: 18px;
      @include postContent();
    }

    .contentLink {
      @include siteLink();
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;

    button {
      border: none;
      background: none;
      cursor: pointer;
    }

    button,
    a {
      margin-right: 18px;
      @include siteButton();
    }

    .approve {
      background: $dartmouth-green;

      p {
        color: $snow-white;
      }
    }

    .edit {
      background: $spring-green;
      color: $forest-green;
      text-decoration: none;
    }

    .reject {
      border: 1px solid $granite-gray;

      p {
        color: $granite-gray;
      }
    }
  }
}
