@import 'styles/variables.scss';

.modalContainer {
  display: flex;
  flex-direction: column;
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
      margin: 0px;
      color: $forest-green;
    }
  }

  .contentContainer {
    margin-bottom: 24px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      margin: 0px 6px;
      padding: 12px 30px;

      font-size: 16px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      
      &.confirm {
        color: $snow-white;
        background-color: $dartmouth-green;
      }
      
      &.reject {
        color: $snow-white;
        background-color: $dartmouth-green;
      }
      
      &.cancel {
        color: $granite-gray;
        border: 1px solid $granite-gray;
      }
    }
  }
}