@import "styles/variables.scss";

.modalContainer {
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid $web-gray-two;

    h1 {
      margin: 0px;

      @include headerOne();
      color: $forest-green;
    }
  }

  .contentContainer {
    margin-bottom: 24px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      margin: 0px 6px;
      @include siteButton();
      border: none;
      cursor: pointer;

      &.confirm {
        color: $snow-white;
        background-color: $dartmouth-green;
      }

      &.reject {
        color: $snow-white;
        background-color: $dartmouth-green;
      }

      &.cancel {
        color: $granite-gray;
        border: 1px solid $granite-gray;
        background-color: $snow-white;
      }
    }
  }
}
