@use "styles/variables.scss" as variables;
@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;

.rteContainer {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 8px;

  .rteMenuContainer {
    display: flex;
    flex-direction: row;
    padding: 3px;

    background: #cacccf;
    border-radius: 8px 8px 0px 0px;

    button {
      margin: auto 0px;
      padding: 6px 15px;

      font-family: national, sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: colors.$granite-gray;

      background: none;
      border: none;
      cursor: pointer;
    }
  }

  :global(.DraftEditor-root) {
    padding: 15px 24px 18px;
    border-radius: 0px 0px 8px 8px;
    background: colors.$web-gray-two;

    @include textStyling.paragraphText();
  }
}
