@import 'styles/variables.scss';

.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 36px 0px;

    @include mainPageLayout();

    .homeHeaderContentContainer {
        max-width: 400px;
        margin-bottom: 40px;
        
        .homeHeaderContainer {
            display: flex;
            flex-direction: column;
            position: relative;

            width: 100%;

            .homeDateSelectorContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                .homeDateSelector {
                    margin: auto 0;
                    position: absolute;
    
                    top: 50%;
                    transform: translate(0, -50%);
                    
                    &.left {
                        left: -216px;
                        button > img { margin-right: 27px; }
                    }
                    
                    &.right {
                        right: -216px;
                        button > img { margin-left: 27px; }
                    }
    
                    @media only screen and (max-width: $tablet-collapse) {
                        margin: 12px 0px;
                        position: relative;
                        top: 0px;
                        transform: translate(0%, 0%);

                        &.left {
                            left: 0px;
                        }

                        &.right {
                            right: 0px;
                        }
                    }
                    
                    button {
                        display: flex;
                        flex-direction: row;
                        
                        border: none;
                        background: none;
                        cursor: pointer;
    
                        img {
                            margin: auto;
                            height: 21px;
                        }
                        
                        p {
                            margin: 0;
                            font-size: 18px;
                            font-weight: 400;
                            color: $forest-green;
                        }
                    }
                }
            }

            .homeTitleContainer {

                .homeHeaderTopBar {
                    height: 8px;
                    background-color: $dartmouth-green;
                    border-radius: 6px;
                    margin-top: 40px;
                }
        
                .homeHeaderBottomBar {
                    height: 8px;
                    background-color: $dartmouth-green;
                    border-radius: 6px;
                    margin-bottom: 40px;
                }
        
                .homeTitleTextContainer {
                    padding: 24px 0;
        
                    h2 {
                        font-family: National2-Bold, sans-serif;
                    }
                    
                    p {
                        font-family: National2-Reg, sans-serif;
                    }
                    
                    * {
                        text-align: center;
                        margin: 0 auto;
                    } 
                }
            }
            
        }

        img {
            width: 100%;
        }
    }
    
    .homeMainContentContainer {
        width: 100%;
        max-width: 900px;
         
        .postTypeSelector {
            display: flex;
            flex-direction: column;

            .postTypeTabContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 9px;
                    
                button {
                    margin: 0px auto;
                    padding: 9px 18px;
                    flex: 1;

                    border: none;
                    background: none;
                
                    font-size: 21px;
                    text-align: center;
                    color: $dartmouth-green;
                    cursor: pointer;
                }
            }

            @media only screen and (max-width: $tablet-collapse) {
                .postTypeTabContainer {
                    margin-bottom: 9px;
                        
                    button {
                        padding: 9px 5px;
                        flex: 1;
                    
                        font-size: 14px;
                    }
                }
            }
            
            .tabUnderlineContainer {
                position: relative;
                width: 100%;
                height: 8px;
                
                background: $web-gray-two;
                border-radius: 4px;
                
                .tabUnderline {
                    position: relative;
                    width: 33.3%;
                    height: 100%;
                    
                    border-radius: 4px;
                    background: $dartmouth-green;
                    transition: 0.4s ease-in-out margin;
    
                    &.news {
                        margin-left: 0%;
                    }
                    
                    &.announcements {
                        margin-left: 33.35%;
                    }
                    
                    &.events {
                        margin-left: 66.7%;
                    }
                }
            }
        }
        
        @media only screen and (max-width: $tablet-collapse) {
            .postTypeSelector {
                width: 100%;
                display: block;
            }
        }

        .postListContainer {
            margin-bottom: 48px;
        }
        
        .homeFeaturedStoryContainer {
            width: 100%;

            h3 {
                font-family: Ruzicka, serif;
                font-weight: bold;
            }

            p {
                font-family: National2-Reg, sans-serif;
                line-height: 24px;
                letter-spacing: 0.23324px;
            }

            @media only screen and (max-width: $tablet-collapse) {
                img {
                    display: none;
                }
            }
        }

        @media only screen and (max-width: $tablet-collapse) {
            .homeFeaturedStoryContainer {
                
                h3 {
                    font-family: Ruzicka, serif;
                    font-weight: bold;
                }
    
                p {
                    font-family: National2-Reg, sans-serif;
                    line-height: 24px;
                    letter-spacing: 0.23324px;
                } 
            }
        }

        .homeItemSectionSummaryContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 84px 0px;

            width: 100%;
            height: 540px;
            flex: 1;

            .itemSummaryContainer {
                flex: 2;
            }

            .homeItemSectionSummaryContainerLeft {
                display: flex;
                flex-direction: column;
                margin-right: 60px;
                flex: 3;

                .itemSummaryContainer {
                    &:first-child {
                        margin-bottom: 60px;
                        flex: 2;
                    }

                    &:last-child {
                        flex: 3;
                    }
                }
            }
        }

        .homeQuoteContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 66px;
            margin-top: 40px;
            max-width: 800px;

            h4 {
                color: $dartmouth-green;
                font-family: National2-Bold, sans-serif;
                font-size: 26px;
                letter-spacing: 0.0679583px;
                margin-bottom: 20px;
            }
            
            blockquote {
                position: relative;
                margin-bottom: 24px;
                
                font-family: National2-Bold, sans-serif;
                font-size: 22px;
                text-align: center;
                letter-spacing: 0.153225px;
                line-height: 42px;

                $quote-margin-top: 42%;
                $quote-margin-sides: 9%;

                @mixin quote-style {
                    position: absolute;
                    font-size: 420px;
                    color: $dartmouth-green;
                    opacity: 0.12;
                    z-index: -1;
                }
            }

            @media only screen and (max-width: $tablet-collapse) {
                blockquote {
                    margin: 10px 8% 20px;
                }
            }
       
            p {
                margin: 0px;
                max-width: 600px;

                color: $granite-gray;
                font-size: 18px;
                line-height: 36px;
                text-align: center;
            }
        }
    }

    .postSectionContainerActive {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }

    .postSectionContainer {
        display: none;
    }
}
