@use "styles/colors.scss" as colors;

.submissionSectionContainer {
  margin-bottom: 60px;

  h2 {
    margin: 0px 0px 24px;

    font-family: national, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: colors.$forest-green;
  }

  .submissionSpacingContainer {
    margin-bottom: 24px;
  }

  .noContent {
    font-family: national, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: colors.$granite-gray;
  }
}
