@import "styles/variables.scss";

.notFoundFallbackContainer {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  padding: 0px 100px;

  h1 {
    margin: 0px 0px 18px 0px;

    font-family: national, sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: $granite-gray;
  }

  p {
    margin: 0px 0px 24px 0px;

    @include paragraphText();
    color: $granite-gray;
  }

  a {
    margin-right: auto;

    @include siteButton();
    color: $snow-white;
    background-color: $dartmouth-green;
    text-decoration: none;
  }
}
