@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;

.rejectionModalContainer {
  padding-top: 24px;

  .rationaleSelector {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    p {
      margin: 0px 18px 0px 0px;
      @include textStyling.paragraphText();
    }
  }

  .commentContainer {
    textarea {
      padding: 9px 18px;
      width: 100%;
      height: 6em;

      @include textStyling.paragraphText();

      background-color: colors.$web-gray-one;
      border: 1px solid colors.$granite-gray;
      border-radius: 8px;
    }

    p {
      margin: 0px 0px 6px;
    }
  }
}
