.formGroupContainer {
  .header {
    margin: 0px;
    margin-bottom: 12px;
  }

  ul {
    padding-left: 24px;
  }

  .groupListContainer {
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
    }
  }
}