@use "styles/colors.scss" as colors;

.headerLinkContainer {
  margin: auto 6px 0px;
  padding: 9px 24px;
  display: inline-block;
  border-radius: 10px 10px 0px 0px;

  font-family: national, sans-serif;
  font-size: 21px;
  font-weight: 400;
  text-align: center;

  color: colors.$snow-white;
  text-decoration: none;
  background: none;

  &.active {
    color: colors.$dartmouth-green;
    background: colors.$snow-white;
  }
}
