@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;
@use "styles/variables.scss" as variables;

.submissionsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include variables.mainPageLayout();

  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
    width: 100%;

    h1 {
      margin: auto 0px 0px 0px;
      @include textStyling.headerOne();
    }

    a {
      margin: auto 0px 0px 0px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      color: colors.$river-blue;
    }
  }

  .filterBar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .filterBarRow {
      display: flex;
      flex-direction: row;
      margin-bottom: 18px;

      .searchBarContainer {
        width: 54%;
        position: relative;
        margin-left: auto;
      }

      .buttonContainer {
        display: flex;
        flex-direction: row;
        padding: 9px 36px;

        background-color: colors.$dartmouth-green;
        box-shadow: 3.34452px 5px 10px rgba(0, 0, 0, 0.05);
        border-radius: 12px;

        border: none;
        cursor: pointer;

        img {
          margin: auto 0px;
        }

        .createButton {
          margin: auto 0px auto 15px;

          font-family: national, sans-serif;
          font-size: 18px;
          font-weight: 500;
          color: colors.$snow-white;
        }
      }

      .selectContainer {
        margin-left: auto;
      }
    }
  }

  .contentContainer {
    width: 100%;

    .rejectionButton {
      background-color: $tuck-orange !important;

      p {
        color: $snow-white !important;
      }
    }
  }
}
