.submissionsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 108px;

  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
    width: 100%;

    h1 {
      margin: auto 0px 0px 0px;
    }
    
    a {
      margin: auto 0px 0px 0px;
      color: #267ABA;
    }
  }

  .filterBar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .filterBarRow {
      display: flex;
      flex-direction: row;
      margin-bottom: 18px;
      
      .searchBarContainer {
        width: 54%;
        position: relative;
        margin-left: auto;
      }

      .buttonContainer {
        display: flex;
        flex-direction: row;
        padding: 9px 36px;
        
        background-color: #00693E;
        box-shadow: 3.34452px 5px 10px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
    
        img {
          margin: auto 0px;
        }
        
        .createButton {
          margin: auto 0px auto 15px;
          color: #FFFFFF;
          text-decoration: none;
        }
      }

      .selectContainer {
        margin-left: auto;
      }
    }
  }

  .contentContainer {
    width: 100%;
  }
}
