@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;

.postDeletionModalContainer {
  display: flex;
  flex-direction: column;

  p {
    @include textStyling.paragraphText();
    color: colors.$granite-gray;
  }
}
