.modalWrapperContainer {
  padding: 36px 60px;
  position: relative;

  .closeButton {
    position: absolute;
    right: 60px;
    top: 36px;

    background: none;
    border: none;
    cursor: pointer;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    h1 {
      margin: 0px;
      color: #12312B;
    }
  }

  .contentContainer {
    margin: 18px 0px 24px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      margin: 0px 6px;
      padding: 12px 30px;

      font-size: 16px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      
      &.confirm {
        color: #FFFFFF;
        background-color: #00693E;
      }
      
      &.reject {
        color: #FFFFFF;
        background-color: #00693E;
      }
      
      &.cancel {
        color: #424141;
        background-color: #FFFFFF;
        border: 1px solid #424141;
      }
    }
  }
}