@import "styles/variables.scss";

.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: $dartmouth-green;

  & > div {
    display: flex;
    flex-direction: row;
  }

  .headerBrandContainer {
    margin: 12px auto 12px 24px;

    img {
      margin: auto 12px auto 0px;
      object-fit: contain;
      width: 40px;
      height: 40px;
    }

    p {
      margin: auto 0px;
      padding-top: 3px;

      font-family: national, sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: $snow-white;
    }
  }

  .headerLinksContainer {
    margin: auto 24px 0px 0px;
  }

  @media (max-width: 700px) {
    .headerLinksContainer {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .headerSignoutContainer {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .headerContainer {
    display: flex;
    justify-content: center;

    .headerBrandContainer {
      margin: unset;

      img {
        object-fit: contain;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
