@import 'styles/variables.scss';

.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: $dartmouth-green;

  & > div {
    display: flex;
    flex-direction: row;
  }

  .headerBrandContainer {
    margin: 12px auto 12px 24px;

    h1 {
      font-family: National2-Reg, sans-serif;
      font-size: 20px;
      margin: auto 0 auto 12px;
      color: $snow-white;
    }

    svg {
      object-fit: contain;
      height: 48px;
    }
  }

  .headerLinksContainer {
    margin: auto 24px 0px 0px;
  }

  @media only screen and (max-width: $tablet-collapse) {
    .headerLinksContainer {
      display: none;
    }
  }

  @media only screen and (max-width: $tablet-collapse) {
    .headerSignoutContainer {
      display: none;
    }
  }

  .headerSignoutContainer {
    display: flex;
    flex-direction: column;
    margin: auto 9px auto 30px;
    align-content: flex-end;

    font-family: National2-Reg, sans-serif;
    color: $snow-white;

    svg {
      margin: 0 auto 3px;
    }

    a {
      margin: 0 auto;
      text-align: center;
      color: $snow-white;
      text-decoration: none;

      &:hover {
          text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: $tablet-collapse) {
  .headerContainer {
    display: flex;
    justify-content: center;
    
    .headerBrandContainer {
      margin: unset;
    
      img {
        object-fit: contain;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

