@use "styles/colors.scss" as colors;

.filterBarContainer {
  display: flex;
  flex-direction: row;

  .selectContainer {
    display: flex;
    flex-direction: row;
    margin-left: 18px;

    &:first-child {
      margin-left: 0;
    }

    label {
      margin: 0px 9px 0px;

      font-family: national, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: colors.$granite-gray;
    }

    select {
      font-family: national, sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: colors.$granite-gray;
    }
  }
}
