/* ---- Colors ---- */

$dartmouth-green: #00693e;

$forest-green: #12312b;
$snow-white: #ffffff;
$web-gray-one: #f7f7f7;
$web-gray-two: #e2e2e2;
$granite-gray: #424141;
$midnight-black: #000000;

$spring-green: #c4dd88;
$summer-yellow: #f5dc69;
$bonfire-orange: #ffa00f;
$tuck-orange: #e32d1c;
$bonfire-red: #9d162e;
$autumn-brown: #643c20;
$web-violet: #8a6996;
$river-blue: #267aba;
$river-navy: #003c73;