@import 'styles/variables.scss';

.formInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  &.row {
    flex-direction: row;
  }

  label, .label {
    display: flex;
    flex-direction: column;
    
    &.small {
      flex-direction: row;

      p {
        margin-left: 12px;
        font-size: 18px; 
      }
    }
    
    .required { color: $tuck-orange; }
    
    .labelText {
      margin: 0px 0px 12px;
      font-size: 21px;
      color: $granite-gray;
    }
  }
  
  input[type="text"], input[type="email"] {
    padding: 12px 24px;
    width: 100%;
    
    background-color: $web-gray-two;
    border-radius: 8px;
    border: none;
    
    &::placeholder { color: $granite-gray; }
    &.invalid { border: 1px solid $tuck-orange; }
  }

  .formInputError {
    font-size: 16px;
    color: $tuck-orange;
  }
}
