@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;

.formInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0px;
  }

  &.row {
    flex-direction: row;
  }

  label,
  .label {
    display: flex;
    flex-direction: column;

    &.small {
      flex-direction: row;

      p {
        margin-left: 12px;

        @include textStyling.paragraphText();
        font-size: 18px;
      }
    }

    .required {
      color: colors.$tuck-orange;
    }

    .labelText {
      margin: 0px 0px 12px;

      font-family: national, sans-serif;
      font-size: 21px;
      font-weight: 400;
      color: colors.$granite-gray;
    }
  }

  input[type="text"],
  input[type="email"] {
    padding: 12px 24px;
    width: 100%;

    @include textStyling.paragraphText();
    color: colors.$granite-gray;

    background-color: colors.$web-gray-two;
    border-radius: 8px;
    border: none;

    &::placeholder {
      @include textStyling.paragraphText();
      color: colors.$granite-gray;
    }

    &.invalid {
      border: 1px solid colors.$tuck-orange;
    }
  }

  .formInputError {
    @include textStyling.paragraphText();
    color: colors.$tuck-orange;
  }
}
