// Fonts

// Colors
$dartmouth-green: #00693E;

$forest-green: #12312B;
$snow-white: #FFFFFF;
$web-gray-one: #F7F7F7;
$web-gray-two: #E2E2E2;
$granite-gray: #424141;
$midnight-black: #000000;

$spring-green: #C4DD88;
$summer-yellow: #F5DC69;
$bonfire-orange: #FFA00F;
$tuck-orange: #E32D1C;
$bonfire-red: #9D162E;
$autumn-brown: #643C20;
$web-violet: #8A6996;
$river-blue: #267ABA;
$river-navy: #003C73;

// Spacings