/* ---- Other ---- */

$page-width: 960px;

$shimmer: linear-gradient(
  160deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 0) 25%,
  rgba(255, 255, 255, 0.6) 60%,
  rgba(255, 255, 255, 0) 100%
);

@mixin shimmerMixin($width: 1000px) {
  background: $shimmer;
  background-repeat: repeat-y;
  background-position: calc(-1 * #{$width}) 0px;
  animation: shimmerBackground 2s linear infinite;

  @keyframes shimmerBackground {
    0% {
      background-position: calc(-1 * #{$width}) 0px;
    }
    100% {
      background-position: $width 0px;
    }
  }
}

$tablet-collapse: 768px;

@mixin mainPageLayout {
  margin: 36px auto;
  padding: 0px 36px;
  max-width: $page-width;
  width: 100%;
}

@mixin siteButton($size: 16px) {
  display: flex;
  flex-direction: row;
  padding: 12px 30px;

  border-radius: 8px;
  cursor: pointer;

  img {
    margin: auto 12px auto 0px;
  }

  p {
    margin: auto 0px;

    font-family: national, sans-serif;
    font-size: $size;
    font-weight: 400;
  }
}
