@use "styles/colors.scss" as colors;
@use "styles/textStyling.scss" as textStyling;
@use "styles/variables.scss" as variables;

.compileContainer {
  display: flex;
  flex-direction: column;

  @include variables.mainPageLayout();

  h1 {
    margin: 0px 0px 24px;
    @include textStyling.headerOne();
  }

  h2 {
    margin: 0px 0px 15px;
    @include textStyling.headerTwo();
  }

  .subtitle {
    @include textStyling.paragraphText();
    color: colors.$granite-gray;
  }

  section {
    margin-bottom: 48px;
  }

  .featuredPostContainer {
    .featuredPostClear {
      margin-top: 6px;

      @include textStyling.paragraphText();
      color: colors.$granite-gray;

      background: none;
      border: none;
      cursor: pointer;
    }

    .featuredPostEmpty {
      padding: 12px 24px;
      border: 1px dashed colors.$granite-gray;
      border-radius: 8px;

      @include textStyling.paragraphText();
      background-color: colors.$snow-white;
      color: colors.$granite-gray;

      &.hovered {
        background-color: colors.$web-gray-two;
      }

      &.valid {
        background-color: colors.$web-gray-one;
      }

      transition: 0.18s ease-in-out background-color;
    }
  }

  .postListContainer {
    padding: 0px;
    list-style: none;

    .compilePost {
      margin-bottom: 12px;
    }
  }

  .noContent {
    @include textStyling.paragraphText();
    color: colors.$granite-gray;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;

    button {
      margin-right: 15px;
      @include variables.siteButton();
      border: none;

      &.confirm {
        background: colors.$dartmouth-green;
        color: colors.$snow-white;
      }

      &.reject {
        background: colors.$snow-white;
        color: colors.$granite-gray;
        border: 1px solid colors.$granite-gray;
      }
    }
  }
}
