@import 'styles/variables.scss';

.loadingScreenContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  
  h1 {
    margin: 0px auto 12px;
    
    font-size: 36px;
    color: $dartmouth-green;
    text-align: center;
  }
  
  h2 {
    margin: 0px auto 12px;

    font-size: 21px;
    color: $forest-green;
    text-align: center;
  }
  
  a {
    margin: 0px auto;
    
    font-size: 16px;
    color: $river-blue;
    text-align: center;
  }

  img {
    position: absolute;
    left: 6%;
    bottom: 0px;
  }
}