@import "styles/variables.scss";

.loadingScreenContainer {
  display: flex;
  flex-direction: column;
  margin: auto;

  h1 {
    margin: 0px auto 12px;
    @include headerOne();
    text-align: center;
  }

  h2 {
    margin: 0px auto 12px;

    @include headerTwo();
    text-align: center;
  }

  a {
    margin: 0px auto;

    @include siteLink();
    text-align: center;
  }

  img {
    position: absolute;
    left: 6%;
    bottom: 0px;
  }
}
