// Reference: https://stackoverflow.com/questions/39733287/how-can-i-do-a-css3-shimmer-animation-to-an-html-target-object

@import 'styles/variables.scss';

.submissionSkeletonContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    padding: 24px;

    border-radius: 16px;
    border-left: 16px solid;

    background: $snow-white;
    box-shadow: 0px 8.36129px 33.4452px $web-gray-two;

    .submissionSkeletonTitle {
        @include shimmerMixin();

        margin-bottom: 12px;
        width: 60%;
        height: 1em;
    }
    
    .submissionSkeletonContent {
        margin-bottom: 12px;
        width: 60%;
        height: 2em;
    }
    
    .submissionSkeletonButtons {
        width: 20%;
        height: 1em;
    }
}