// Reference: https://stackoverflow.com/questions/39733287/how-can-i-do-a-css3-shimmer-animation-to-an-html-target-object

.submissionSkeletonContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    padding: 24px;

    border-radius: 16px;
    border-left: 16px solid;

    background: #FFFFFF;
    box-shadow: 0px 8.36129px 33.4452px #E2E2E2;

    $shimmer: linear-gradient(160deg,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0.6) 60%,
        rgba(255,255,255,0) 100%
    );
    
    @mixin shimmerMixin($width) {
        background: $shimmer;
        background-repeat: repeat-y;
        background-position: calc(-1 * #{$width}) 0px;
        animation: shimmerBackground 2s linear infinite;

        @keyframes shimmerBackground {
            0% { background-position: calc(-1 * #{$width}) 0px; }
            100% { background-position: $width 0px; }
        }
    }

    .submissionSkeletonTitle {
        @include shimmerMixin(1000px);

        margin-bottom: 12px;
        width: 60%;
        height: 1em;
    }
    
    .submissionSkeletonContent {
        margin-bottom: 12px;
        width: 60%;
        height: 2em;
    }
    
    .submissionSkeletonButtons {
        width: 20%;
        height: 1em;
    }
}